

body {
  @include media($breakpoint-desktop) {
    min-width: 118rem + $indent-base-desktop * 2;
  }
}

// Container
.container {
  @include fill-parent();
  @include outer-container($container-width-mobile);
  padding: {
    right: $indent-base-mobile;
    left: $indent-base-mobile;
  }

  @include media($breakpoint-desktop) {
    @include outer-container($container-width-desktop + $indent-base-desktop * 2);
    padding: {
      right: $indent-base-desktop;
      left: $indent-base-desktop;
    }
  }
    
    min-height: 500px
}


::selection {
  color: #fff;
  background: $color-brand;
}