
// Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=cyrillic');

$font-family-base-book:   "P22 Underground CY Pro Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base-medium: "P22 Underground CY Pro Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-headings:    "DIN Next Paneuropean Medium", "PT Sans Narrow", sans-serif;

// Layout
$container-width-mobile: 100%;
$container-width-desktop: 118rem;

$indent-base-mobile:  1rem;
$indent-base-desktop: 2rem;

// Breakpoints
//$breakpoint-mobile:  new-breakpoint(max-width 767px);
//$breakpoint-desktop: new-breakpoint(min-width 768px);
$breakpoint-mobile:  new-breakpoint(max-device-width 767px);
$breakpoint-desktop: new-breakpoint(min-device-width 768px);

// Colors
$color-brand: #56c5ce;
$color-base: #2d3334;
$color-base-light: #8a9699;
$color-base-lighter: #a9c2c8;
$color-base-lightest: #e9f1f2;
$color-alert: #f9b238;

// Transitions
$transition-duration-base: .2s;

// Styles
$border-radius-small: .8rem;
$border-radius-base:  1.2rem;
$border-radius-large: 1.6rem;
$border-radius-huge:  2rem;